*,
*::before,
*::after {
    box-sizing: border-box;
    
}

.container .name h1{
display: flex;
font-family: 'Courier New', Courier, monospaceS;
color: white;
font-size: 40px;
justify-content: center;
}

.container .name h3{
    display: flex;
    font-family: 'Courier New', Courier, monospaceS;
    color: white;
    font-size: 25px;
    justify-content: center;
    }

body {
    background-color: rgb(240, 130, 185);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano {
    display: flex;
    border-radius: 3%;
    justify-content: centercls
    cls
    ;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #CCC;
}

.black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.black.active {
    background-color: #333;
    
}